nav {
    box-sizing: border-box;
}

a {
    color: blueviolet;
    text-decoration: none;
    background-color: transparent;
    font-size: 30px;
}

h2 h3 {
    font-size: 30px;
}

h3 {
    font-size: 48px;
}
p {
    font-size: 24px;    
}

.top {
    position: relative;
    background-color: white;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

body {
    text-align: center;
}

.btn {
    background-color: purple;
    padding: 20px 70px 20px 50px; 
}

.btn:hover {
    opacity: .8;
    color: lavender;
}

.answer-selection {
    background-color: purple;
    padding: 20px 50px 20px 35px;
    
}

.question-text {
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
.text-black {
    font-weight: 900;
    text-align: center;
    color: black;
    font-size: 30px;
}

.hide {
    display: none;
}
